body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #263238;
  font-family: "Nunito", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: lighter; /* Set the font weight to light */
}

.app {
  font-family: "Nunito", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: left;
  margin-left: 20%;
  font-size: 30px;
  font-family: "Nunito", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #263238;
  line-height: 1.286em;
  min-height: 1rem;
  font-weight: 500;
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 10px 0;
  margin-left: 20%;
  color: #263238;
}

.filter-input,
.filter-select {
  margin-right: 0px;
  color: #C9CBD9;
  padding: 5px;
  width: 155px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Animation for select */
}

.filter-select:focus {
  background-color: #f0f8ff; /* Light blue background on focus */
  color: #036eb5; /* Blue text on focus */
}

.datepicker-container {
  position: relative;
}

.calendar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.hide-past-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #263238;
}

.auction-table {
  width: 60%;
  border-collapse: collapse;
  margin-left: 20%;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2.5px solid #C0C8CC;
  padding-bottom: 5px;
  color: #263238;
}

.header .cell {
  font-weight: bold; /* Set header cells to bold */
  color: #263238;
}

.cell {
  padding: 5px;
  text-align: left;
  font-weight: 50;
  font-size: 14px;
  background-color: transparent;
}

.cell.small {
  flex: 1;
}

.cell.large {
  flex: 3;
}

.cell.medium {
  flex: 2;
}

.row {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid #C0C8CC;
  margin-top: 5px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 60%;
  margin-left: 20%;
}

.pagination span {
  margin-right: 10px;
  line-height: 1.4285em;
  font-size: 12px;
}

.pagination div {
  display: flex;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease; /* Animation for buttons */
}

.pagination button.active {
  background-color: #fff;
  color: #263238;
  border: 1px solid #263238;
}

.pagination button:hover {
  background-color: #036eb5;
  color: white;
}

a {
  color: #036eb5; /* Set the color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Animation for link color change */
}

a:hover {
  color: #036eb5; /* Darker blue on hover */
}

/* Additional styles for mobile view */
@media (max-width: 480px) {
  .view-filters-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #036eb5;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
  }

  .filters {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .filters.active {
    display: flex;
  }

  .filter-input,
  .filter-select,
  .hide-past-label {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (min-width: 481px) {
  .view-filters-btn {
    display: none;
  }

  .filters {
    display: flex !important;
  }
}


/* Media Queries for Responsive Design */

@media (max-width: 1024px) {
  .filters, .auction-table, .pagination, h1 {
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width: 768px) {
  .filters, .auction-table, .pagination, h1 {
    width: 100%;
    margin-left: 0;
  }

  .filters {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-input,
  .filter-select {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .header, .row {
    flex-direction: column;
    align-items: flex-start;
  }

  .cell {
    width: 100%;
    margin-bottom: 10px;
  }

  .pagination {
    flex-direction: column;
    align-items: flex-start;
  }

  .pagination span,
  .pagination button {
    margin: 5px 0;
  }
}

